<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/US_Crime_Rates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [3]:
crime = pd.read_csv('/content/US_Crime_Rates_1960_2014.csv')

### Step 4. What is the type of the columns?

In [4]:
print(crime.dtypes)

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [5]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

print(crime['Year'].dtypes)

datetime64[ns]

### Step 6. Set the Year column as the index of the dataframe

In [6]:
crime.set_index('Year', inplace=True)

print(crime.head())

            Population    Total  Violent  Property  Murder  Forcible_Rape  \
Year
1960-01-01   179323175  3384200   288460   3095700    9110          17190
1961-01-01   182992000  3488000   289390   3198600    8740          17220
1962-01-01   185771000  3752200   301510   3450700    8530          17550
1963-01-01   188483000  4109500   316970   3792500    8640          17650
1964-01-01   191141000  4564600   364220   4200400    9360          21420

            Robbery  Aggravated_assault  Burglary  Larceny_Theft  \
Year
1960-01-01   107840              154320    912100        1855400
1961-01-01   106670              156760    949600        1913000
1962-01-01   110860              164570    994300        2089600
1963-01-01   116470              174210   1086400        2297800
1964-01-01   130390              203050   1213200        2514400

            Vehicle_Theft
Year
1960-01-01         328200
1961-01-01         336000
1962-01-01         366800
1963-01-01         408300
1964-01-01         472800

### Step 7. Delete the Total column

In [7]:
crime.drop('Total', axis=1, inplace=True)

print(crime.head())

            Population  Violent  Property  Murder  Forcible_Rape  Robbery  \
Year
1960-01-01   179323175   288460   3095700    9110          17190   107840
1961-01-01   182992000   289390   3198600    8740          17220   106670
1962-01-01   185771000   301510   3450700    8530          17550   110860
1963-01-01   188483000   316970   3792500    8640          17650   116470
1964-01-01   191141000   364220   4200400    9360          21420   130390

            Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
Year
1960-01-01              154320    912100        1855400         328200
1961-01-01              156760    949600        1913000         336000
1962-01-01              164570    994300        2089600         366800
1963-01-01              174210   1086400        2297800         408300
1964-01-01              203050   1213200        2514400         472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [8]:
crime['Decade'] = (crime.index.year // 10) * 10  # Create a new column for Decades
crime_grouped = crime.drop(columns=['Population']).groupby('Decade').sum()

print(crime_grouped)

         Violent   Property  Murder  Forcible_Rape  Robbery  \
Decade
1960     4134930   45160900  106180         236720  1633510
1970     9607930   91383800  192230         554570  4159020
1980    14074328  117048900  206439         865639  5383109
1990    17527048  119053499  211664         998827  5748930
2000    13968056  100944369  163068         922499  4230366
2010     6072017   44095950   72867         421059  1749809

        Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
Decade
1960               2158520  13321100       26547700        5292100
1970               4702120  28486000       53157800        9739900
1980               7619130  33073494       72040253       11935411
1990              10568963  26750015       77679366       14624418
2000               8652124  21565176       67970291       11412834
2010               3764142  10125170       30401698        3569080

### Step 9. What is the most dangerous decade to live in the US?

In [9]:
# Sum the crime statistics for each decade and find the most dangerous decade
crime_grouped['Total_Crimes'] = crime_grouped.sum(axis=1)
most_dangerous_decade = crime_grouped['Total_Crimes'].idxmax()

# Display the most dangerous decade
print(f"The most dangerous decade to live in the US is the {most_dangerous_decade}s.")

The most dangerous decade to live in the US is the 1990s.