<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Exercises_(5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [2]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [5]:
data = pd.read_csv('/content/wind.data.txt',delim_whitespace=True, header=None)
data.head()

<ipython-input-5-85574906c5bd>:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv('/content/wind.data.txt',delim_whitespace=True, header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
1,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2,61,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
3,61,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
4,61,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88

KeyError: "None of ['Yr_Mo_Dy'] are in the columns"

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [6]:
data['Yr_Mo_Dy']=pd.to_datetime(data['Yr_Mo_Dy'])

KeyError: 'Yr_Mo_Dy'

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [23]:
columns = ['Yr', 'Mo', 'Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA', 'MUL', 'CLO', 'BEL', 'MAL']
data['Yr'] = data['Yr'].astype(int).apply(lambda x: x + 1900 if x > 50 else x + 2000)
data['Mo'] = data['Mo'].astype(int)
data['Dy'] = data['Dy'].astype(int)
data['Date'] = pd.to_datetime(data[['Yr', 'Mo', 'Dy']])
data.drop(columns=['Yr', 'Mo', 'Dy'], inplace=True)
data.set_index('Date', inplace=True)
data.drop(columns=['Yr', 'Mo', 'Dy'], inplace=True)
data.head()
print(data.head())

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [7]:
data.isnull().sum()

0     0
1     0
2     0
3     6
4     3
5     2
6     5
7     2
8     0
9     3
10    2
11    3
12    1
13    0
14    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [8]:
data.notnull().sum()

0     6575
1     6575
2     6575
3     6569
4     6572
5     6573
6     6570
7     6573
8     6575
9     6572
10    6573
11    6572
12    6574
13    6575
14    6571
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [9]:
data.mean().mean()

TypeError: can only concatenate str (not "int") to str

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days

#### A different set of numbers for each location.

In [13]:
loc_stats = data.describe()
loc_stats

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6574.000000,6574.000000,6574.000000,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,1969.500304,6.523274,15.728628,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.188131,3.448871,8.800335,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,1961.000000,1.000000,1.000000,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,1965.000000,4.000000,8.000000,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,1969.500000,7.000000,16.000000,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,1974.000000,10.000000,23.000000,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,1978.000000,12.000000,31.000000,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [15]:
windspeed_data = data.iloc[:, 1:]

day_stats = pd.DataFrame({
    'min_windspeed': windspeed_data.min(axis=1),
    'max_windspeed': windspeed_data.max(axis=1),
    'mean_windspeed': windspeed_data.mean(axis=1),
    'std_windspeed': windspeed_data.std(axis=1)
})
print(day_stats)

      min_windspeed  max_windspeed  mean_windspeed  std_windspeed
0              1.00          18.50       11.169231       5.190770
1              1.00          17.54        9.823077       4.707569
2              1.00          18.50       10.158462       4.957230
3              1.00          11.75        6.030714       3.352327
4              1.00          13.33        9.540000       3.654058
...             ...            ...             ...            ...
6569           8.08          40.08       17.107143       7.878075
6570           5.00          41.46       15.842857       9.610589
6571           8.71          29.58       15.691429       6.580887
6572           9.13          30.00       16.172143       6.528321
6573           9.59          31.00       16.273571       6.804624

[6574 rows x 4 columns]

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [ ]:
data.groupby(data.index.to_period('W')).mean()

### Step 12. Downsample the record to a yearly frequency for each location.

In [ ]:
data.groupby(data.index_period('A')).mean()

### Step 13. Downsample the record to a monthly frequency for each location.

In [ ]:
data.groupby(data.index_period('M')).mean()

AttributeError: 'RangeIndex' object has no attribute 'to_period'

### Step 14. Downsample the record to a weekly frequency for each location.

In [ ]:
data.groupby(data.index.to_period('W')).mean()

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [ ]:
data.resample('W').agg(['min','max','mean','std']).iloc[1:53, :].head()