<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Google_Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start_date = '2015-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [3]:
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [4]:
df = yf.download(stocks, start=start_date, end=end_date)
print(df)

[*********************100%***********************]  5 of 5 completed
ERROR:yfinance:
2 Failed downloads:
ERROR:yfinance:['LNKD']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2015-01-01 -> 2024-11-20)')
ERROR:yfinance:['TWTR']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')

Price                       Adj Close                                    \
Ticker                           AAPL         IBM LNKD        TSLA TWTR
Date
2015-01-02 00:00:00+00:00   24.347170  100.658310  NaN   14.620667  NaN
2015-01-05 00:00:00+00:00   23.661270   99.074455  NaN   14.006000  NaN
2015-01-06 00:00:00+00:00   23.663502   96.937798  NaN   14.085333  NaN
2015-01-07 00:00:00+00:00   23.995319   96.304276  NaN   14.063333  NaN
2015-01-08 00:00:00+00:00   24.917273   98.397415  NaN   14.041333  NaN
...                               ...         ...  ...         ...  ...
2024-11-13 00:00:00+00:00  225.119995  210.919998  NaN  330.239990  NaN
2024-11-14 00:00:00+00:00  228.220001  208.990005  NaN  311.179993  NaN
2024-11-15 00:00:00+00:00  225.000000  204.990005  NaN  320.720001  NaN
2024-11-18 00:00:00+00:00  228.020004  208.089996  NaN  338.739990  NaN
2024-11-19 00:00:00+00:00  228.279999  210.250000  NaN  346.000000  NaN

Price                           Close                                    ...  \
Ticker                           AAPL         IBM LNKD        TSLA TWTR  ...
Date                                                                     ...
2015-01-02 00:00:00+00:00   27.332500  154.933075  NaN   14.620667  NaN  ...
2015-01-05 00:00:00+00:00   26.562500  152.495224  NaN   14.006000  NaN  ...
2015-01-06 00:00:00+00:00   26.565001  149.206497  NaN   14.085333  NaN  ...
2015-01-07 00:00:00+00:00   26.937500  148.231354  NaN   14.063333  NaN  ...
2015-01-08 00:00:00+00:00   27.972500  151.453156  NaN   14.041333  NaN  ...
...                               ...         ...  ...         ...  ...  ...
2024-11-13 00:00:00+00:00  225.119995  210.919998  NaN  330.239990  NaN  ...
2024-11-14 00:00:00+00:00  228.220001  208.990005  NaN  311.179993  NaN  ...
2024-11-15 00:00:00+00:00  225.000000  204.990005  NaN  320.720001  NaN  ...
2024-11-18 00:00:00+00:00  228.020004  208.089996  NaN  338.739990  NaN  ...
2024-11-19 00:00:00+00:00  228.279999  210.250000  NaN  346.000000  NaN  ...

Price                            Open                                    \
Ticker                           AAPL         IBM LNKD        TSLA TWTR
Date
2015-01-02 00:00:00+00:00   27.847500  154.216064  NaN   14.858000  NaN
2015-01-05 00:00:00+00:00   27.072500  154.177826  NaN   14.303333  NaN
2015-01-06 00:00:00+00:00   26.635000  152.648178  NaN   14.004000  NaN
2015-01-07 00:00:00+00:00   26.799999  150.286804  NaN   14.223333  NaN
2015-01-08 00:00:00+00:00   27.307501  149.369019  NaN   14.187333  NaN
...                               ...         ...  ...         ...  ...
2024-11-13 00:00:00+00:00  224.009995  209.500000  NaN  335.850006  NaN
2024-11-14 00:00:00+00:00  225.020004  210.000000  NaN  327.690002  NaN
2024-11-15 00:00:00+00:00  226.399994  207.460007  NaN  310.570007  NaN
2024-11-18 00:00:00+00:00  225.250000  207.000000  NaN  340.730011  NaN
2024-11-19 00:00:00+00:00  226.979996  206.500000  NaN  335.760010  NaN

Price                         Volume
Ticker                          AAPL      IBM LNKD       TSLA TWTR
Date
2015-01-02 00:00:00+00:00  212818400  5779673  NaN   71466000  NaN
2015-01-05 00:00:00+00:00  257142000  5104898  NaN   80527500  NaN
2015-01-06 00:00:00+00:00  263188400  6429448  NaN   93928500  NaN
2015-01-07 00:00:00+00:00  160423600  4918083  NaN   44526000  NaN
2015-01-08 00:00:00+00:00  237458000  4431693  NaN   51637500  NaN
...                              ...      ...  ...        ...  ...
2024-11-13 00:00:00+00:00   48566200  3247800  NaN  125405600  NaN
2024-11-14 00:00:00+00:00   44923900  6372900  NaN  120726100  NaN
2024-11-15 00:00:00+00:00   47923700  3986500  NaN  114440300  NaN
2024-11-18 00:00:00+00:00   44686000  3405900  NaN  126547500  NaN
2024-11-19 00:00:00+00:00   36077500  2859700  NaN   88563400  NaN

[2488 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [7]:
print(df.items())

<generator object DataFrame.items at 0x7d6fe40ed5b0>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [8]:
vol = df['Volume']
print(vol)

Ticker                          AAPL      IBM  LNKD       TSLA  TWTR
Date
2015-01-02 00:00:00+00:00  212818400  5779673   NaN   71466000   NaN
2015-01-05 00:00:00+00:00  257142000  5104898   NaN   80527500   NaN
2015-01-06 00:00:00+00:00  263188400  6429448   NaN   93928500   NaN
2015-01-07 00:00:00+00:00  160423600  4918083   NaN   44526000   NaN
2015-01-08 00:00:00+00:00  237458000  4431693   NaN   51637500   NaN
...                              ...      ...   ...        ...   ...
2024-11-13 00:00:00+00:00   48566200  3247800   NaN  125405600   NaN
2024-11-14 00:00:00+00:00   44923900  6372900   NaN  120726100   NaN
2024-11-15 00:00:00+00:00   47923700  3986500   NaN  114440300   NaN
2024-11-18 00:00:00+00:00   44686000  3405900   NaN  126547500   NaN
2024-11-19 00:00:00+00:00   36077500  2859700   NaN   88563400   NaN

[2488 rows x 5 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [9]:
vol_weekly = vol.resample('W').sum()
print(vol_weekly)

Ticker                           AAPL       IBM  LNKD       TSLA  TWTR
Date
2015-01-04 00:00:00+00:00   212818400   5779673   0.0   71466000   0.0
2015-01-11 00:00:00+00:00  1133010000  25578884   0.0  340644000   0.0
2015-01-18 00:00:00+00:00  1216906400  24329751   0.0  461988000   0.0
2015-01-25 00:00:00+00:00   794948000  32682062   0.0  243175500   0.0
2015-02-01 00:00:00+00:00  1863370800  34442689   0.0  235803000   0.0
...                               ...       ...   ...        ...   ...
2024-10-27 00:00:00+00:00   197299900  31380700   0.0  537640400   0.0
2024-11-03 00:00:00+00:00   248222000  26467700   0.0  366289100   0.0
2024-11-10 00:00:00+00:00   208083400  15846600   0.0  625405600   0.0
2024-11-17 00:00:00+00:00   223817700  19438000   0.0  726819600   0.0
2024-11-24 00:00:00+00:00    80763500   6265600   0.0  215110900   0.0

[517 rows x 5 columns]

### Step 9. Find all the volume traded in the year of 2015

In [13]:
df.index = pd.to_datetime(df.index)
vol_2015 = vol[df.index.year == 2015]
print(vol_2015)

Ticker                          AAPL      IBM  LNKD      TSLA  TWTR
Date
2015-01-02 00:00:00+00:00  212818400  5779673   NaN  71466000   NaN
2015-01-05 00:00:00+00:00  257142000  5104898   NaN  80527500   NaN
2015-01-06 00:00:00+00:00  263188400  6429448   NaN  93928500   NaN
2015-01-07 00:00:00+00:00  160423600  4918083   NaN  44526000   NaN
2015-01-08 00:00:00+00:00  237458000  4431693   NaN  51637500   NaN
...                              ...      ...   ...       ...   ...
2015-12-24 00:00:00+00:00   54281600  1563979   NaN  10620000   NaN
2015-12-28 00:00:00+00:00  106816800  3287996   NaN  28519500   NaN
2015-12-29 00:00:00+00:00  123724800  4125110   NaN  36094500   NaN
2015-12-30 00:00:00+00:00  100855200  3126912   NaN  55468500   NaN
2015-12-31 00:00:00+00:00  163649200  3621357   NaN  40725000   NaN

[252 rows x 5 columns]

### BONUS: Create your own question and answer it.

 What was the average volume traded for each stock in the year 2015?

In [14]:
vol.index = pd.to_datetime(vol.index)

vol_2015 = vol[vol.index.year == 2015]
avg_vol_2015 = vol_2015.mean()
print(avg_vol_2015)

Ticker
AAPL    2.073976e+08
IBM     4.589045e+06
LNKD             NaN
TSLA    6.477487e+07
TWTR             NaN
dtype: float64