<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/PabdasArmy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fictional Army - Filtering and Sorting

### Introduction:

This exercise was inspired by this [page](http://chrisalbon.com/python/)

Special thanks to: https://github.com/chrisalbon for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. This is the data given as a dictionary

In [ ]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 3. Create a dataframe and assign it to a variable called army.

#### Don't forget to include the columns names in the order presented in the dictionary ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically.

In [1]:
import pandas as pd

# Create a DataFrame and assign it to a variable called army
raw_data = {
    'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks',
                 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons',
                 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
    'company': ['1st', '1st', '2nd', '2nd',
                '1st', '1st', '2nd', '2nd',
                '1st', '1st', '2nd', '2nd'],
    'deaths': [523, 52, 25, 616,
               43, 234, 523, 62,
               62, 73, 37, 35],
    'battles': [5, 42, 2, 2,
                4, 7, 8, 3,
                4, 7, 8, 9],
    'size': [1045, 957, 1099, 1400,
             1592, 1006, 987, 849,
             973, 1005, 1099, 1523],
    'veterans': [1, 5, 62, 26,
                 73, 37, 949, 48,
                 48, 435, 63, 345],
    'readiness': [1, 2, 3, 3,
                  2, 1, 2, 3,
                  2, 1, 2, 3],
    'armored': [1, 0, 1, 1,
                0, 1, 0, 1,
                0, 0, 1, 1],
    'deserters': [4, 24, 31, 2,
                  3, 4, 24, 31,
                  2, 3, 2, 3],
    'origin': ['Arizona', 'California', 'Texas', 'Florida',
               'Maine', 'Iowa', 'Alaska', 'Washington',
               'Oregon', 'Wyoming', 'Louisana', 'Georgia']
}

# Creating the DataFrame with specified column order
army = pd.DataFrame(raw_data)

# Display the DataFrame to verify
print(army)

      regiment company  deaths  battles  size  veterans  readiness  armored  \
0   Nighthawks     1st     523        5  1045         1          1        1
1   Nighthawks     1st      52       42   957         5          2        0
2   Nighthawks     2nd      25        2  1099        62          3        1
3   Nighthawks     2nd     616        2  1400        26          3        1
4     Dragoons     1st      43        4  1592        73          2        0
5     Dragoons     1st     234        7  1006        37          1        1
6     Dragoons     2nd     523        8   987       949          2        0
7     Dragoons     2nd      62        3   849        48          3        1
8       Scouts     1st      62        4   973        48          2        0
9       Scouts     1st      73        7  1005       435          1        0
10      Scouts     2nd      37        8  1099        63          2        1
11      Scouts     2nd      35        9  1523       345          3        1

    deserters      origin
0           4     Arizona
1          24  California
2          31       Texas
3           2     Florida
4           3       Maine
5           4        Iowa
6          24      Alaska
7          31  Washington
8           2      Oregon
9           3     Wyoming
10          2    Louisana
11          3     Georgia

### Step 4. Set the 'origin' colum as the index of the dataframe

In [2]:
# Step: Set the 'origin' column as the index of the DataFrame
army.set_index('origin', inplace=True)

# Display the DataFrame to verify
print(army)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Maine         Dragoons     1st      43        4  1592        73          2
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1
Louisana        Scouts     2nd      37        8  1099        63          2
Georgia         Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

### Step 5. Print only the column veterans

In [3]:
# Step: Set the 'origin' column as the index of the DataFrame
army.set_index('origin', inplace=True)

# Step: Print only the column veterans
print(army['veterans'])

origin
Arizona         1
California      5
Texas          62
Florida        26
Maine          73
Iowa           37
Alaska        949
Washington     48
Oregon         48
Wyoming       435
Louisana       63
Georgia       345
Name: veterans, dtype: int64

### Step 6. Print the columns 'veterans' and 'deaths'

In [4]:
# Step: Set the 'origin' column as the index of the DataFrame
army.set_index('origin', inplace=True)

# Step: Print the columns veterans and deaths
print(army[['veterans', 'deaths']])

            veterans  deaths
origin
Arizona            1     523
California         5      52
Texas             62      25
Florida           26     616
Maine             73      43
Iowa              37     234
Alaska           949     523
Washington        48      62
Oregon            48      62
Wyoming          435      73
Louisana          63      37
Georgia          345      35

### Step 7. Print the name of all the columns.

In [5]:
# Set the 'origin' column as the index of the DataFrame
army.set_index('origin', inplace=True)

# Step: Print the name of all the columns
print(army.columns.tolist())

['regiment', 'company', 'deaths', 'battles', 'size', 'veterans', 'readiness', 'armored', 'deserters']

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

In [6]:
# Setting the origin column as the index of the DataFrame
army.set_index('origin', inplace=True)

#Select the deaths, size and deserters columns for Maine and Alaska
selected_columns = army.loc[['Maine', 'Alaska'], ['deaths', 'size', 'deserters']]

# Display the selected data
print(selected_columns)

        deaths  size  deserters
origin
Maine       43  1592          3
Alaska     523   987         24

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

In [7]:
# Setting the origin column as the index of the DataFrame
army.set_index('origin', inplace=True)

# Select rows from index position (3 to (7-1)) and columns from index position (3 to (6-1))
selected_rows_columns = army.iloc[3:7, 3:7]

# Display the selected data
print(selected_rows_columns)

         battles  size  veterans  readiness
origin
Florida        2  1400        26          3
Maine          4  1592        73          2
Iowa           7  1006        37          1
Alaska         8   987       949          2

### Step 10. Select every row after the fourth row and all columns

In [8]:
# Setting the origin column as the index of the DataFrame
army.set_index('origin', inplace=True)

#Select every row after the fourth row and all columns
selected_rows = army.iloc[4:]

# Display the selected data
print(selected_rows)

            regiment company  deaths  battles  size  veterans  readiness  \
origin
Maine       Dragoons     1st      43        4  1592        73          2
Iowa        Dragoons     1st     234        7  1006        37          1
Alaska      Dragoons     2nd     523        8   987       949          2
Washington  Dragoons     2nd      62        3   849        48          3
Oregon        Scouts     1st      62        4   973        48          2
Wyoming       Scouts     1st      73        7  1005       435          1
Louisana      Scouts     2nd      37        8  1099        63          2
Georgia       Scouts     2nd      35        9  1523       345          3

            armored  deserters
origin
Maine             0          3
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3
Louisana          1          2
Georgia           1          3

### Step 11. Select every row up to the 4th row and all columns

In [9]:
# Setting the origin column as the index of the DataFrame
army.set_index('origin', inplace=True)

# Select every row up to the fourth row (index positions: up to but not including index position of row number four)
selected_rows = army.iloc[:4]

# Display the selected data
print(selected_rows)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2

### Step 12. Select the 3rd column up to the 7th column

In [10]:
# Setting the origin column as the index of the DataFrame
army.set_index('origin', inplace=True)

# Select the columns from index position (2 to (7-1))
selected_columns = army.iloc[:, 2:7]

# Display the selected data
print(selected_columns)

            deaths  battles  size  veterans  readiness
origin
Arizona        523        5  1045         1          1
California      52       42   957         5          2
Texas           25        2  1099        62          3
Florida        616        2  1400        26          3
Maine           43        4  1592        73          2
Iowa           234        7  1006        37          1
Alaska         523        8   987       949          2
Washington      62        3   849        48          3
Oregon          62        4   973        48          2
Wyoming         73        7  1005       435          1
Louisana        37        8  1099        63          2
Georgia         35        9  1523       345          3

### Step 13. Select rows where df.deaths is greater than 50

In [11]:
# Setting the origin column as the index of the DataFrame
army.set_index('origin', inplace=True)

#Select rows where deaths is greater than 50
selected_rows = army[army['deaths'] > 50]

# Display the selected data
print(selected_rows)

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Florida     Nighthawks     2nd     616        2  1400        26          3
Iowa          Dragoons     1st     234        7  1006        37          1
Alaska        Dragoons     2nd     523        8   987       949          2
Washington    Dragoons     2nd      62        3   849        48          3
Oregon          Scouts     1st      62        4   973        48          2
Wyoming         Scouts     1st      73        7  1005       435          1

            armored  deserters
origin
Arizona           1          4
California        0         24
Florida           1          2
Iowa              1          4
Alaska            0         24
Washington        1         31
Oregon            0          2
Wyoming           0          3

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

In [12]:
# Select rows where deaths is greater than 500 or less than 50
selected_rows = army[(army['deaths'] > 500) | (army['deaths'] < 50)]

# Display the selected data
print(selected_rows)

      regiment company  deaths  battles  size  veterans  readiness  armored  \
0   Nighthawks     1st     523        5  1045         1          1        1
2   Nighthawks     2nd      25        2  1099        62          3        1
3   Nighthawks     2nd     616        2  1400        26          3        1
4     Dragoons     1st      43        4  1592        73          2        0
6     Dragoons     2nd     523        8   987       949          2        0
10      Scouts     2nd      37        8  1099        63          2        1
11      Scouts     2nd      35        9  1523       345          3        1

    deserters    origin
0           4   Arizona
2          31     Texas
3           2   Florida
4           3     Maine
6          24    Alaska
10          2  Louisana
11          3   Georgia

### Step 15. Select all the regiments not named "Dragoons"

In [18]:
#Select all regiments not named "Dragoons"
selected_regiments = army[army['regiment'] != "Dragoons"]

# Display the selected data
print(selected_regiments)

      regiment company  deaths  battles  size  veterans  readiness  armored  \
0   Nighthawks     1st     523        5  1045         1          1        1
1   Nighthawks     1st      52       42   957         5          2        0
2   Nighthawks     2nd      25        2  1099        62          3        1
3   Nighthawks     2nd     616        2  1400        26          3        1
8       Scouts     1st      62        4   973        48          2        0
9       Scouts     1st      73        7  1005       435          1        0
10      Scouts     2nd      37        8  1099        63          2        1
11      Scouts     2nd      35        9  1523       345          3        1

    deserters      origin
0           4     Arizona
1          24  California
2          31       Texas
3           2     Florida
8           2      Oregon
9           3     Wyoming
10          2    Louisana
11          3     Georgia

### Step 16. Select the rows called Texas and Arizona

In [15]:
# Select the rows for Texas and Arizona
selected_rows = army[army['origin'].isin(['Texas', 'Arizona'])]
print(selected_rows)

     regiment company  deaths  battles  size  veterans  readiness  armored  \
0  Nighthawks     1st     523        5  1045         1          1        1
2  Nighthawks     2nd      25        2  1099        62          3        1

   deserters   origin
0          4  Arizona
2         31    Texas

### Step 17. Select the third cell in the row named Arizona

In [16]:
arizona_row = army.loc[army['origin'] == 'Arizona']
third_cell_arizona = arizona_row.iloc[0, 2]
print(third_cell_arizona)

523

### Step 18. Select the third cell down in the column named deaths

In [17]:
third_deaths_cell = army['deaths'].iloc[2]
print(third_deaths_cell)

25