<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Pandas_occupatioon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [2]:
users = pd.read_csv ("/content/occupation.user",sep='|')

### Step 4. Discover what is the mean age per occupation

In [3]:
print(users.columns)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [10]:
# Group by 'occupation' and calculate the number of men (M) and total count in each occupation
occupation_gender = users.groupby('occupation').agg(
    male_count=('gender', lambda x: (x == 'M').sum()),
    total_count=('gender', 'size')
)

# Calculate the male ratio for each occupation
occupation_gender['male_ratio'] = occupation_gender['male_count'] / occupation_gender['total_count']

# Sort by male ratio in descending order
occupation_gender_sorted = occupation_gender.sort_values('male_ratio', ascending=False)

# Display the sorted male ratio per occupation
print(occupation_gender_sorted[['male_ratio']])

               male_ratio
occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857

### Step 6. For each occupation, calculate the minimum and maximum ages

In [9]:
# Group by 'occupation' and calculate the minimum and maximum age for each occupation
age_stats = users.groupby('occupation').agg(
    min_age=('age', 'min'),
    max_age=('age', 'max')
)

# Display the results
print(age_stats)

               min_age  max_age
occupation
administrator       21       70
artist              19       48
doctor              28       64
educator            23       63
engineer            22       70
entertainment       15       50
executive           22       69
healthcare          22       62
homemaker           20       50
lawyer              21       53
librarian           23       69
marketing           24       55
none                11       55
other               13       64
programmer          20       63
retired             51       73
salesman            18       66
scientist           23       55
student              7       42
technician          21       55
writer              18       60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [8]:
# Group by both 'occupation' and 'gender', then calculate the mean age for each group
mean_age_by_occupation_gender = users.groupby(['occupation', 'gender'])['age'].mean()

# Display the results
print(mean_age_by_occupation_gender)

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [7]:
# Group by 'occupation' and 'gender' and count the number of men (M) and women (F) in each occupation
gender_count = users.groupby(['occupation', 'gender']).size().unstack(fill_value=0)

# Calculate the total number of people in each occupation
gender_count['total'] = gender_count.sum(axis=1)

# Calculate the percentage of men (M) and women (F) in each occupation
gender_count['percentage_men'] = (gender_count['M'] / gender_count['total']) * 100
gender_count['percentage_women'] = (gender_count['F'] / gender_count['total']) * 100

# Display the results
print(gender_count[['percentage_men', 'percentage_women']])

gender         percentage_men  percentage_women
occupation
administrator       54.430380         45.569620
artist              53.571429         46.428571
doctor             100.000000          0.000000
educator            72.631579         27.368421
engineer            97.014925          2.985075
entertainment       88.888889         11.111111
executive           90.625000          9.375000
healthcare          31.250000         68.750000
homemaker           14.285714         85.714286
lawyer              83.333333         16.666667
librarian           43.137255         56.862745
marketing           61.538462         38.461538
none                55.555556         44.444444
other               65.714286         34.285714
programmer          90.909091          9.090909
retired             92.857143          7.142857
salesman            75.000000         25.000000
scientist           90.322581          9.677419
student             69.387755         30.612245
technician          96.296296          3.703704
writer              57.777778         42.222222