<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/PandasEuro12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [4]:
euro12 = pd.read_csv('/content/Euro_2012_stats_TEAM.csv')

### Step 4. Select only the Goal column.

In [5]:
# Select only the Goal column
goals = euro12[['Goals']]

# Display the first few rows of the Goals DataFrame
print(goals.head())

   Goals
0      4
1      4
2      4
3      5
4      3

### Step 5. How many team participated in the Euro2012?

In [6]:

#Count the number of unique teams that participated in Euro 2012
number_of_teams = euro12['Team'].nunique()

print(f'Number of teams that participated in Euro 2012: {number_of_teams}')

Number of teams that participated in Euro 2012: 16

### Step 6. What is the number of columns in the dataset?

In [7]:
#Get the number of columns in the dataset
number_of_columns = euro12.shape[1]  # or use len(euro12.columns)

print(f'The number of columns in the dataset: {number_of_columns}')

The number of columns in the dataset: 35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [8]:
#Select the relevant columns and assign to a new DataFrame called discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

# Display the first few rows of the discipline DataFrame
print(discipline.head())

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [9]:
#Select the relevant columns and assign to a new DataFrame called discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

# Sort the teams by Red Cards, then by Yellow Cards
sorted_discipline = discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=[True, True])

# Display the sorted DataFrame
print(sorted_discipline)

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

### Step 9. Calculate the mean Yellow Cards given per Team

In [10]:
#Select the relevant columns and assign to a new DataFrame called discipline
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]

#Calculate the mean Yellow Cards given per Team
mean_yellow_cards = discipline.groupby('Team')['Yellow Cards'].mean().reset_index()

# Rename the column for clarity
mean_yellow_cards.columns = ['Team', 'Mean Yellow Cards']

# Display the mean Yellow Cards per team
print(mean_yellow_cards)

                   Team  Mean Yellow Cards
0               Croatia                9.0
1        Czech Republic                7.0
2               Denmark                4.0
3               England                5.0
4                France                6.0
5               Germany                4.0
6                Greece                9.0
7                 Italy               16.0
8           Netherlands                5.0
9                Poland                7.0
10             Portugal               12.0
11  Republic of Ireland                6.0
12               Russia                6.0
13                Spain               11.0
14               Sweden                7.0
15              Ukraine                5.0

### Step 10. Filter teams that scored more than 6 goals

In [11]:
#Filter teams that scored more than 6 goals
teams_scoring_more_than_6_goals = euro12[euro12['Goals'] > 6]

# Display the filtered DataFrame
print(teams_scoring_more_than_6_goals[['Team', 'Goals']])

       Team  Goals
5   Germany     10
13    Spain     12

### Step 11. Select the teams that start with G

In [12]:
#Select teams that start with the letter 'G'
teams_starting_with_G = euro12[euro12['Team'].str.startswith('G')]

# Display the filtered DataFrame
print(teams_starting_with_G[['Team']])

      Team
5  Germany
6   Greece

### Step 12. Select the first 7 columns

In [13]:
#Select the first 7 columns using iloc
first_7_columns = euro12.iloc[:, :7]

# Display the resulting DataFrame
print(first_7_columns)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

### Step 13. Select all columns except the last 3.

In [14]:
#Select all columns except the last 3
all_columns_except_last_3 = euro12.iloc[:, :-3]

# Display the resulting DataFrame
print(all_columns_except_last_3)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [15]:
#Select Shooting Accuracy for England, Italy, and Russia
shooting_accuracy = euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']), ['Team', 'Shooting Accuracy']]

# Display the resulting DataFrame
print(shooting_accuracy)

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%