<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [3]:
wine = pd.read_csv('/content/wine.data.txt',header=None)

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
wine.drop([0, 3, 6, 8, 10, 12, 13], axis=1, inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [5]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [6]:
wine.loc[0:2, 'alcohol'] = None

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [7]:
wine.loc[3:4, 'magnesium'] = None

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [8]:
wine['alcohol'].fillna(10, inplace=True)
wine['magnesium'].fillna(100, inplace=True)

<ipython-input-8-35a0a02d7287>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine['alcohol'].fillna(10, inplace=True)
<ipython-input-8-35a0a02d7287>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  wine['magnesium'].fillna(100, inplace=True)

### Step 9. Count the number of missing values

In [9]:
print(wine.isnull().sum())

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [10]:
random_numbers = np.random.randint(0, 11, 10)
print(random_numbers)

[ 7  8 10  1  3  2  0  2  7  6]

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [11]:
wine.iloc[random_numbers] = None

### Step 12.  How many missing values do we have?

In [12]:
print(wine.isnull().sum().sum())

56

### Step 13. Delete the rows that contain missing values

In [13]:
wine.dropna(inplace=True)

### Step 14. Print only the non-null values in alcohol

In [14]:
print(wine['alcohol'].dropna())

4      13.24
5      14.20
9      13.86
11     14.12
12     13.75
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 170, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [15]:
wine.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.

What is the average value of flavanoids

In [16]:
avg_flavanoids = wine['flavanoids'].mean()
print(f"The average flavanoids value is: {avg_flavanoids}")

The average flavanoids value is: 1.984294117647059