<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Housing_market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
np.random.seed(42)

series1 = pd.Series(np.random.randint(1, 5, 100))
series2 = pd.Series(np.random.randint(1, 4, 100))
series3 = pd.Series(np.random.randint(10000, 30001, 100))
series1
series2
series3

0     23931
1     13627
2     26157
3     20173
4     28047
      ...
95    11154
96    14499
97    16295
98    22183
99    22874
Length: 100, dtype: int64

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
df = pd.concat([series1, series2, series3], axis=1)
df

    0  1      2
0   3  3  23931
1   4  2  13627
2   1  2  26157
3   3  2  20173
4   3  2  28047
.. .. ..    ...
95  2  1  11154
96  2  2  14499
97  4  1  16295
98  2  1  22183
99  1  2  22874

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [5]:
df.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

print(df.head())

   bedrs  bathrs  price_sqr_meter
0      3       3            23931
1      4       2            13627
2      1       2            26157
3      3       2            20173
4      3       2            28047

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [6]:
# Combine all series into a single column
bigcolumn = pd.DataFrame(pd.concat([series1, series2, series3], ignore_index=True), columns=['bigcolumn'])

print(bigcolumn.head())

   bigcolumn
0          3
1          4
2          1
3          3
4          3

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [7]:
# Check the length of the one-column DataFrame
print(bigcolumn.index.max())

299

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [8]:
# Reindex to ensure the index is sequential from 0 to 299
bigcolumn.reset_index(drop=True, inplace=True)
print(bigcolumn)

     bigcolumn
0            3
1            4
2            1
3            3
4            3
..         ...
295      11154
296      14499
297      16295
298      22183
299      22874

[300 rows x 1 columns]