<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('/content/chipotle.tsv.txt', sep='\t')

### Step 4. See the first 10 entries

In [4]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1: using shape
print(f"Number of observations: {chipo.shape[0]}")

Number of observations: 4622

In [6]:
# Solution 2: Using len()
print(f"Number of observations: {len(chipo)}")

Number of observations: 4622

### Step 6. What is the number of columns in the dataset?

In [7]:
# Print the number of columns
print(f"Number of columns: {chipo.shape[1]}")

Number of columns: 5

### Step 7. Print the name of all the columns.

In [8]:
print(chipo.columns.tolist())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
most_ordered_item = chipo.groupby('item_name')['quantity'].sum().idxmax()
print(f"Most-ordered item: {most_ordered_item}")

Most-ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
quantity_most_ordered = chipo.groupby('item_name')['quantity'].sum().max()
print(f"Quantity of the most-ordered item: {quantity_most_ordered}")

Quantity of the most-ordered item: 761

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print(f"Most-ordered item in choice description: {most_ordered_choice}")

Most-ordered item in choice description: [Diet Coke]

### Step 12. How many items were orderd in total?

In [13]:
total_items_ordered = chipo['quantity'].sum()
print(f"Total items ordered: {total_items_ordered}")

Total items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
print(chipo['item_price'].dtype)

object

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [24]:
# Remove dollar sign and convert to float
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]) if isinstance(x, str) else x)
print(chipo['item_price'].dtype)

float64

In [25]:
# Calculate revenue
revenue = (chipo['quantity'] * chipo['item_price']).sum()
print(f"Total revenue: ${revenue:.2f}")

Total revenue: $39237.02

### Step 15. How many orders were made in the period?

In [17]:
total_orders = chipo['order_id'].nunique()
print(f"Total orders: {total_orders}")

Total orders: 1834

### Step 16. What is the average revenue amount per order?

In [26]:
# Solution 2
# Total number of unique orders
total_orders = chipo['order_id'].nunique()

# Calculate average revenue per order
average_revenue = revenue / total_orders
print(f"Average revenue per order: ${average_revenue:.2f}")

Average revenue per order: $21.39

### Step 17. How many different items are sold?

In [20]:
different_items = chipo['item_name'].nunique()
print(f"Different items sold: {different_items}")

Different items sold: 50