<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [4]:
iris = pd.read_csv('/content/iris.data.txt',header=None)

### Step 4. Create columns for the dataset

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [5]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

### Step 5.  Is there any missing value in the dataframe?

In [6]:
print(iris.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [7]:
iris.loc[10:29, 'petal_length'] = None

### Step 7. Good, now lets substitute the NaN values to 1.0

In [8]:
iris.fillna(1.0, inplace=True)

### Step 8. Now let's delete the column class

In [9]:
iris['petal_length'].fillna(1.0, inplace=True)

### Step 9.  Set the first 3 rows as NaN

In [10]:
iris.iloc[0:3] = None

### Step 10.  Delete the rows that have NaN

In [11]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [12]:
iris.reset_index(drop=True, inplace=True)

### BONUS: Create your own question and answer it.

What is the average value of the sepal_length column?

In [13]:
avg_sepal_length = iris['sepal_length'].mean()
print(f"The average sepal length is: {avg_sepal_length}")

The average sepal length is: 5.862585034013605