<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/MPG_Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1= pd.read_csv('/content/cars1.csv')
cars2= pd.read_csv('/content/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, ~cars1.columns.str.contains('^Unnamed')]

print(cars1.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

### Step 5. What is the number of observations in each dataset?

In [4]:
print(f"Number of observations in cars1: {cars1.shape[0]}")
print(f"Number of observations in cars2: {cars2.shape[0]}")

Number of observations in cars1: 198
Number of observations in cars2: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [5]:
# Concatenate cars1 and cars2
cars = pd.concat([cars1, cars2], ignore_index=True)
print(cars.head())
print(f"Total number of observations in cars: {cars.shape[0]}")

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
Total number of observations in cars: 398

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [7]:
import numpy as np

# Create a random Series for owners
owners = pd.Series(np.random.randint(15000, 73000, size=cars.shape[0]), name="owners")
owners

0      35667
1      63954
2      72754
3      38810
4      67978
       ...
393    33031
394    72510
395    44816
396    35448
397    64224
Name: owners, Length: 398, dtype: int64

### Step 8. Add the column owners to cars

In [8]:
# Add the 'owners' column to the DataFrame
cars['owners'] = owners

print(cars.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  owners
0       1  chevrolet chevelle malibu   35667
1       1          buick skylark 320   63954
2       1         plymouth satellite   72754
3       1              amc rebel sst   38810
4       1                ford torino   67978