<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Exercises_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [3]:
chipo['item_price'] = chipo['item_price'].replace({'\$': '', '': ''}, regex=True).astype(float)
expensive_products = chipo[chipo['item_price'] > 10]
number_of_expensive_products = expensive_products.shape[0]

print(f'Number of products that cost more than $10.00: {number_of_expensive_products}')

Number of products that cost more than $10.00: 1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [4]:
# Convert 'item_price' to numeric (removing the dollar sign)
chipo['item_price'] = chipo['item_price'].replace({'\$': '', '': ''}, regex=True).astype(float)

# Select only the 'item_name' and 'item_price' columns
price_df = chipo[['item_name', 'item_price']]

# Print the resulting DataFrame
print(price_df)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [5]:
# Convert 'item_price' to numeric (removing the dollar sign)
chipo['item_price'] = chipo['item_price'].replace({'\$': '', '': ''}, regex=True).astype(float)

# Select only the 'item_name' and 'item_price' columns
price_df = chipo[['item_name', 'item_price']]

# Sort by 'item_name'
sorted_price_df = price_df.sort_values(by='item_name')

# Print the sorted DataFrame
print(sorted_price_df)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
# Convert 'item_price' to numeric (removing the dollar sign)
chipo['item_price'] = chipo['item_price'].replace({'\$': '', '': ''}, regex=True).astype(float)

# Step 1: Find the maximum price
max_price = chipo['item_price'].max()

# Step 2: Filter for items with that maximum price
most_expensive_item = chipo[chipo['item_price'] == max_price]

# Step 3: Get the quantity of that item ordered
quantity_of_most_expensive_item = most_expensive_item['quantity'].sum()

print(f'The quantity of the most expensive item ordered is: {quantity_of_most_expensive_item}')

The quantity of the most expensive item ordered is: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
# Step 1: Filter for Veggie Salad Bowl
veggie_salad_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']

# Step 2: Sum the quantities of Veggie Salad Bowl ordered
total_veggie_salad_ordered = veggie_salad_orders['quantity'].sum()

print(f'The Veggie Salad Bowl was ordered {total_veggie_salad_ordered} times.')

The Veggie Salad Bowl was ordered 18 times.

### Step 9. How many times did someone order more than one Canned Soda?

In [8]:
# Step 1: Filter for Canned Soda orders
canned_soda_orders = chipo[chipo['item_name'] == 'Canned Soda']

# Step 2: Count how many times more than one Canned Soda was ordered
orders_with_multiple_canned_sodas = canned_soda_orders[canned_soda_orders['quantity'] > 1]

# Step 3: Get the total count of such orders
total_multiple_canned_sodas_ordered = orders_with_multiple_canned_sodas.shape[0]

print(f'The number of times more than one Canned Soda was ordered: {total_multiple_canned_sodas_ordered}')

The number of times more than one Canned Soda was ordered: 20