<a href="https://colab.research.google.com/github/mimomaina/pythondataanalysis/blob/main/Pandas1Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [1]:
data = {
    'name': ['Pikachu', 'Bulbasaur', 'Charmander', 'Squirtle'],
    'type': ['Electric', 'Grass', 'Fire', 'Water'],
    'hp': [35, 45, 39, 44],
    'evolution': ['Raichu', 'Ivysaur', 'Charmeleon', 'Wartortle'],
    'pokedex': [25, 1, 4, 7]
}

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(data)

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pokemon['place'] = ['Pallet Town', 'Viridian City', 'Pallet Town', 'Cerulean City']

### Step 6. Present the type of each column

In [6]:
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex       int64
place        object
dtype: object

### BONUS: Create your own question and answer it.

What is the total HP of all the Pokémon in the dataset?

In [7]:
total_hp = pokemon['hp'].sum()
print(f"The total HP of all Pokémon is {total_hp}")

The total HP of all Pokémon is 163